{% extends 'theme/base.html' %}
{% block subheader %}Meldings detaljer details{% endblock %}
{% block pagecontent %}

    <div class="row">
        <div class="col-sm-12">
           
            <h2>Detaljer om kvitts {{ message.id }}</h2> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kvitt</th>
                        <th>Tidspunk</th>
                        <th>Laget av</th>
                        <th>Likes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.created_datetime }}</td>
                        <td>{{ message.created_by }}</td>
                        <td>{{ message.likes }}</td>

                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}

