{% extends 'theme/base.html' %}
{% block subheader %}Meldings detaljer details{% endblock %}
{% block pagecontent %}

  
        
          

          <div class="panel panel-info">
            <div class="panel-heading">
            
            <h2 class="panel-title">Detaljer om kvitts {{ message.id }}</h2>

            </div> 
            <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kvitt</th>
                        <th>Tidspunk</th>
                        <th>Laget av</th>
                        <th>Likes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.created_datetime }}</td>
                        <td>{{ message.created_by }}</td>
                        <td>{{ message.likes }}</td>

                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}

